{% if customer %}
{% assign value = product.id %}
{% capture productID %}{{ product.id }}{% endcapture %}

{% for tag in customer.tags %}
{% capture tagID %}{{ tag }}{% endcapture %}
{% if tagID contains productID %}
{% capture value %}x{{ tagID }}{% endcapture %}
{% endif %}
{% if value.size == 0 %}{% assign value = productID %}{% endif %}
{% endfor %}

{% unless value.size == 0 %}
{% if value.size > productID.size %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
{% endunless %}


{% if display %}
{% form 'customer' %}
<input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
<input type="hidden" name="contact[tags]" value="{{ value }}" />

<button data-toggle="tooltip" data-placement="top" title="{{settings.pia_wishlist_name}}">
<i class="{{settings.pia_wishlist}}" ></i>
</button>

{% endform %}

{% else %}
<a href="/pages/wish-list" data-toggle="tooltip" data-placement="top" title="{{ 'wishlist.general.added' | t }}" >
<i class="{{settings.pia_wishlist}}"></i>
</a>
{% endif %}

{% else %}
<a href="/account/login" data-toggle="tooltip" data-placement="top" title="{{settings.pia_wishlist_name}}">
<i class="{{settings.pia_wishlist}}"></i>
</a>
{% endif %}