<div class="list_sidebar">
  {% if section.settings.enable_widget_search %}
  <div class="search w-100">
    <form class="form-inline w-100" action="/search">
      <input class="form-control" type="search" placeholder="{{section.settings.shop_by_search_placeholder}}" name="q" value="{{ search.terms | escape }}">
      <button class="btn" type="submit">{{section.settings.shop_by_search_title}}</button>
    </form>
  </div>
  {% endif %}
   
  {% if section.settings.enable_widget_related %}
  <div class="recent_posts">
    {%- assign posts_limit = section.settings.blogs_limit -%}
    {%- assign blog_selected = section.settings.select_blog -%}
    <div class="title_general_sidebar">
      <h3 class="mb-0">{{section.settings.widget_related_title}}</h3>
    </div>
    <div class="content_sidebar">
      <ul class="list-unstyled">
        {% for article in blogs[blog_selected].articles limit: posts_limit %}
        <li><a href="{{ article.url }}" title=""><i class="ti-angle-double-right"></i>{{ article.title }}</a></li>
          {% else %}
          {% for i in (1..5) %}
          <li><a href="/admin/articles" title="">How we built big yellow tunnel</a></li>
          {% endfor %}        
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %} 
  {% if section.settings.enable_recent_comments %}
  <div class="recent_posts">    
    <div class="title_general_sidebar">
      <h3 class="mb-0">{{section.settings.title_recent_comments}}</h3>
    </div>
    <div class="content_sidebar">

      {%- assign comment_limit = section.settings.comment_limit_sidebar -%}
      <ul class="list-unstyled">
		{% for comment in article.comments limit: comment_limit %}
        <li><a href="{{comment.url}}" title=""><i class="ti-angle-double-right"></i>{{comment.content | strip_html | truncate: 30 }}</a></li>        
        {% endfor %}
      </ul>
    </div>
    
  </div>
  {% endif %}
  
  {% if section.settings.enable_widget_cate %}
  <div class="recent_posts">
    <div class="title_general_sidebar">
      <h3 class="mb-0">{{section.settings.widget_cate_title}}</h3>
    </div>
    <div class="content_sidebar">
      <ul class="list-unstyled">
        {% for link in linklists[section.settings.widget_cate_menu].links %}

        {% assign item = link.title | downcase %}
        {% assign child_list_handle = link.title | handleize %}

        {% if linklists[child_list_handle].links != blank %}
          {% for childlink in linklists[child_list_handle].links %}
          <li><a href="{{ childlink.url }}"><i class="ti-angle-double-right"></i>{{ childlink.title | escape }}</a></li>
          {% endfor %}
          {% else %}
          <li><a href="{{ link.url }}"><i class="ti-angle-double-right"></i>{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if section.settings.enable_widget_meta %}
  <div class="recent_posts">
    <div class="title_general_sidebar">
      <h3 class="mb-0">{{section.settings.widget_meta_title}}</h3>
    </div>
    <div class="content_sidebar">
      <ul class="list-unstyled">
        {% for link in linklists[section.settings.widget_meta_menu].links %}

        {% assign item = link.title | downcase %}
        {% assign child_list_handle = link.title | handleize %}

        {% if linklists[child_list_handle].links != blank %}
          {% for childlink in linklists[child_list_handle].links %}
          <li><a href="{{ childlink.url }}"><i class="ti-angle-double-right"></i>{{ childlink.title | escape }}</a></li>
          {% endfor %}
          {% else %}
          <li><a href="{{ link.url }}"><i class="ti-angle-double-right"></i>{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}  
</div>
