<footer id="footer_v1" class="footer_v1">
  <div class="container">
    <div class="top_footer">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          
<!--           <div class="logo_footer text-center text-lg-left">
            <a href="{{shop.url}}">
              {% if settings.fv1_main_logo != blank %}
              <img src="{{settings.fv1_main_logo | img_url:'master'}}"  width="{{settings.fv1_main_logo_maxwidth}}" alt="logo">
              {% else %}
              <img src="//placehold.it/140x22" width="{{settings.fv1_main_logo_maxwidth}}" alt="logo">
              {% endif %}
            </a>
          </div> -->
      

          <div class="text-center text-lg-left">
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <p class="text-lg-left tnc"> <a href="#" title="Terms and Conditions"> Terms & Consitions - FC Goa Shop</a></p>
              </div>
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <p class="text-lg-left email"> Contact Us :<a href="mailto:support@fcgoa.in" title=""> support@fcgoa.in</a></p>
              </div>
            </div>
            <p class="mb-0 pb-0 copyright text-center text-lg-left"> &copy; 2019-20 Goan Football Club | <a  class="white" href="#" title="FC Goa" target="_blank"> FC Goa </a>. All rights reserved. No part of this iste may be reproduced without our written permission.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-12 footer-padding-top justify-content-right">
          <div class="contact_footer_padding text-center text-md-right">
              <ul class="list-inline list-unstyled mb-0 icon text-center text-lg-right">
                {% if settings.icon_facebook_vf1 !=blank %}
                <li class="list-inline-item mr-0">
                  <a href="{{settings.icon_facebook_vf1_url}}" title="" target="_blank" class="{{settings.icon_facebook_vf1}}"></a>
                </li>
                {% endif %}
                {% if settings.icon_tw_vf1 !=blank %}
                <li class="list-inline-item mr-0">
                  <a href="{{settings.icon_tw_vf1_url1}}" title="" target="_blank" class="{{settings.icon_tw_vf1}}"></a>
                </li>
                {% endif %}
                {% if settings.icon_google_vf1 !=blank %}
                <li class="list-inline-item mr-0">
                  <a href="{{settings.icon_google_vf1_url}}" title="" target="_blank" class="{{settings.icon_google_vf1}}"></a>
                </li>
                {% endif %}
                {% if settings.icon_linkedin_vf1 !=blank %}
                <li class="list-inline-item mr-0">
                  <a href="{{settings.icon_linkedin_vf1_url}}" title="" target="_blank" class="{{settings.icon_linkedin_vf1}}"></a>
                </li>
                {% endif %}
                {% if settings.icon_dribbble_vf1 !=blank %}
                <li class="list-inline-item mr-0">
                  <a href="{{settings.icon_dribbble_vf1_url}}" title="" target="_blank" class="{{settings.icon_dribbble_vf1}}"></a>
                </li> 
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
<!--         <div class="col-lg-4 col-md-6 footer-padding-top d-none d-md-block d-lg-none">
          <div class="row">
            <div class="col-lg-6 col-md-6 towcol text-center text-md-left">
              <div class="towcol_padding">
                <div class="title_footer">
                  {% if settings.fv1_titlecolum3_fv1 != blank%}
                  <h4 class="mb-0">{{settings.fv1_titlecolum3_fv1}}</h4>
                  {% endif %}
                </div>
                <ul class="list-unstyled mb-0">
                  {% for link in linklists[settings.menu_fv1_center].links %}
                  <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 towcol text-center text-md-left">
              <div class="float-md-right">
                <div class="title_footer">
                  {% if settings.fv1_titlecolum4_fv1 !=blank %}
                  <h4 class="mb-0">{{settings.fv1_titlecolum4_fv1}}</h4>
                  {% endif %}
                </div>
                <ul class="list-unstyled mb-0">
                  {% for link in linklists[settings.menu_fv1_center4].links %}
                  <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div> -->
<!--         <div class="col-lg-4 col-md-4 footer-padding-top d-md-none d-lg-block">
          <div class="contact_footer_padding text-center text-md-left">
            <div class="title_footer">
              {% if settings.fv1_titlecolum2_fv1 != blank %}
              <h4 class="mb-0">{{settings.fv1_titlecolum2_fv1}}</h4>
              {% endif %}
            </div>
            <div class="address_content_footer">
              <address class="mb-0">
                {% if settings.fv1_children_fv1 !=blank %}
                <p class="mb-0">{{settings.fv1_children_fv1}}</p>
                {% endif %}
                {% if settings.fv1_phone_fv1 != blank %}
                <p class="tell_footer mb-0">{{settings.fv1_phone_fv1}}</p>
                {% endif %}
                {% if settings.fv1_children2_fv1 !=blank %}
                <p class="mb-0 title_white">{{settings.fv1_children2_fv1}}</p>
                {% endif %}
                {% if settings.fv1_trebol_fv1 !=blank %}
                <p class="mb-0 padd_add">{{ settings.fv1_trebol_fv1 }}</p>
                {% endif %}
                
              </address>
            </div>
          </div>
        </div> -->
<!--         <div class="col-lg-4 footer-padding-top d-md-none d-lg-block">
          <div class="row">
            <div class="col-lg-6 col-md-4 towcol text-center text-md-left">
              <div class="towcol_padding">
                <div class="title_footer">
                  {% if settings.fv1_titlecolum3_fv1 %}
                  <h4 class="mb-0">{{settings.fv1_titlecolum3_fv1}}</h4>
                  {% endif %}
                </div>
                <ul class="list-unstyled mb-0">
                  {% for link in linklists[settings.menu_fv1_center].links %}
                  <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 towcol text-center text-md-left">
              <div class="float-xl-right">
                <div class="title_footer">
                  {% if settings.fv1_titlecolum4_fv1 !=blank %}
                  <h4 class="mb-0">{{settings.fv1_titlecolum4_fv1}}</h4>
                  {% endif %}
                </div>
                <ul class="list-unstyled mb-0">
                  {% for link in linklists[settings.menu_fv1_center4].links %}
                  <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
<!--     {% if settings.enable_fv1_bottom %}
    <div class="bottom_footer text-center ">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <ul class="list-unstyled list-inline mb-0 text-center text-md-left">
            {% for link in linklists[settings.menu_fv1_bottom_fv1].links %}
            <li class="list-inline-item mr-0"><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 text-center text-md-right">
          <a href="{{settings.fv1_bottom_payment_url}}">
            {% if settings.fv1_bottom_payment_img != blank %}
            <img src="{{settings.fv1_bottom_payment_img|img_url:'master'}}" alt="payment" />
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    {% endif %} -->
  </div>
</footer>