<div class="menu_moblie d-flex d-xl-none jsmenumobile {% unless settings.enable_sticky_mobile %}engoc-disable-sticky{% endunless %}">
  <a href="javascript:void(0)" title="" class="menuleft">
    <div class="iconmenu">
      <i class="btn_icon"></i>
    </div>
  </a>
  <div class="logo_menumoblie">
    {% if settings.logo_svgmobile !=blank %}
    <a href="{{shop.url}}">{{settings.logo_svgmobile}}</a>
    {% else %}          	
    <a href="{{shop.url}}">
      {% if settings.logo_mobile != blank %}
      <img src="{{settings.logo_mobile|img_url:'master'}}" width="{{settings.mobile_logo_maxwidth}}" alt="logo">
      {% else %}
      <img src="//placehold.it/115x18" width="{{settings.mobile_logo_maxwidth}}" alt="logo">
      {% endif %}
    </a>
    {% endif %} 
  </div>
  <div class="menuright">
    <span class=" pr-3 js_search"><i class="{{section.settings.icon_search_header_mobile}}"></i></span>
    <a href="javascript:void(0)" title="" class="js_minicart"><i class="ti-shopping-cart"></i>
      <span class="count_pr_incart enj-cartcount">{{cart.item_count }}</span>
    </a>
  </div>
</div>
<div class="box_contentmenu_background">
</div>
<div class="box_contentmenu">
  <div class="tab_content_menu_mobile jsmenumobile container">

     <div class="row nga justify-content-between">
      <div class="col-lg-2 logo">
        <div class="text-left">           
          {% if settings.logo_svg1 !=blank %}
          <div class="logosvg" style="max-width:{{settings.hdv1_logo_maxwidth}}px;">
            <a class="d-block" href="{{shop.url}}">{{settings.logo_svg1}}</a>
          </div>
          
          {% else %}            
          <a href="{{shop.url}}">
            {% if settings.hdv1_logo != blank %}
            <img src="{{settings.hdv1_logo|img_url:'master'}}" width="{{settings.hdv1_logo_maxwidth}}" alt="logo">
            {% else %}
            <img src="//placehold.it/140x22" width="{{settings.hdv1_logo_maxwidth}}" alt="logo">
            {% endif %}
          </a>
          {% endif %}          
        </div>
      </div>
    </div>

    <a href="javascript:void(0)" title="" class="menuleft">
    <div class="iconmenu">
      <i class="btn_icon"></i>
    </div>
  </a>
<!--     <ul class="nav nav-tabs toptab_box_content list-unstyled mb-0" role="tablist">
      <li class="toptab_li">
        <a class="tab_navar active" href="#tab_menu_mobile" role="tab" data-toggle="tab">
          <i class="{{section.settings.icon_tab_menu_mobile}}">
          </i>
          <span class="ml-3">{{ 'layout.navigation.menu' | t }}</span>
        </a>
      </li>
      <li class="toptab_li">
        <a class="tab_navar_right" href="#tab_account_mobile" role="tab" data-toggle="tab">
          <i class="{{section.settings.icon_tab_login_mobile}}"></i>
          <span class="ml-3">{{ 'customer.login.title' | t }}</span>
        </a>
      </li>
    </ul> -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane show in active tab_children_menu" id="tab_menu_mobile">        

        <ul class="navbar-nav mr-auto">
          {% for link in linklists.main-menu.links %}
          <li class="nav-item dropdown">
              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
            {%- if link.links != blank -%}
              <span class="dropdown-arrow"></span>
               <ul class="dropdown-menu list-woman show">
                {% for child_link in link.links %}  
                <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                {% if child_link.links != blank %}
                  <ul class="grandchild">
                  {% for grandchild_link in child_link.links %}  
                    <li><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}   
                </li>
                {% endfor %}
              </ul> 
              {%- endif -%}
          </li>
          {% endfor %}
        </ul>
      </div>
      </div>
    </div>
    <div class="home_link">
      <h5 class="link_btn"> Back to FC Goa Home </h5>
    </div>
  </div>
