<!-- collection-template.liquid -->
{% comment %}
For more information on collection tags:
- http://docs.shopify.com/themes/liquid-variables/collection
{% endcomment %}
{% if template contains 'collection.list' %}
	{%- assign per_page = settings.nb_per_page -%}
{% elsif template contains 'collection.24' %}
	{%- assign per_page = 24 -%}
{% elsif template contains 'collection.48' %}
	{%- assign per_page = 48 -%}
{% else %}
	{%- assign per_page = settings.nb_per_page -%}
{% endif %}

{% paginate collection.products by section.settings.product_limit %}

<section class="page_aboutus_v1 page_product_v2">
<!--   {% if section.settings.enable_slideshow  %}
  <div class="slide" style="background-image: url({% if section.settings.backgroud_slide_image != blank %}{{section.settings.backgroud_slide_image|img_url:'master'}}{% else %}//placehold.it/1920x500{% endif %})">
    <div class="container text-center">
      {% if section.settings.idname_collection != blank %}
      <span class="text-uppercase" style="color: {{section.settings.idname_collection_color}};">{{section.settings.idname_collection}}</span>
      {% endif %}
      <h1 style="color:{{section.settings.title_page_blog_color}};">{{ collection.title }}</h1>
    </div>
  </div>
  {% endif %}
  {% if section.settings.product_template == "product_v1" %} -->
  <div class="container">
    <div class="page_title">
      <h4 class="product_title"> All Products </h4>
    </div>
  </div>
  <div class="category_product section-product-v1 mt-0">

    <div class="container">
      <div class="row">                    
        <div class="{% if section.settings.collection_layout == "sidebar_none" %}col-lg-12 col-sm-12{% elsif section.settings.collection_layout == "sidebar_right" %}col-lg-9 {% elsif section.settings.collection_layout == "sidebar_left" %}col-lg-9 order-1  {% endif %} col-xs-12">
          <div class="row grid-uniform">
            {% for product in collection.products %}
            <div class="column-padding {% if section.settings.products_per == "2" %}col-md-6{% elsif section.settings.products_per == "3" %}col-md-3{% elsif section.settings.products_per == "4" %}col-md-3{% elsif section.settings.products_per == "5" %}col-lg-2dot4{% endif %} col-sm-6 col-xs-{% if settings.mobile_products_per_row == "1" %}12{% elsif settings.mobile_products_per_row == "2" %}6{% endif %}">
              {% include 'product-item' %}
            </div>
            {% else %}
            <h2 class="title-noproduct my-5">{{ 'products.general.no_product' | t }}</h2>
            {% endfor %}            
          </div>
          <div class="row justify-content-center">
            {% if paginate.pages > 1 %}
            <div class="pagi-nav text-center">
              {{ paginate | default_pagination | replace: '&laquo; Previous', '' | replace: 'Next &raquo;', '' }}
            </div>
            {% endif %}
          </div>
        </div>        
        
        {% unless section.settings.collection_layout == "sidebar_none" %}
        <div class="{% if section.settings.collection_layout == "sidebar_right" %}col-lg-3 col-sm-4{% elsif section.settings.collection_layout == "sidebar_left" %}col-lg-3 col-lg-pull-9 col-sm-4 col-sm-pull-8{% endif %} col-xs-12">
          {% include 'collection-sidebar' %}
        </div>
        {% endunless %}
      </div>
    </div>
  </div>
  
  {% elsif section.settings.product_template == "product_v2" %}
  
  <div class="colletion_v2">

    <div class="container-fluid my-container">
      <div class="row padding-filter">
        <div class="col-lg-6 number_filter">
          <span>{{ 'collections.showby.showring' | t }} {{ paginate.current_offset | plus: 1 }} - {% if paginate.next %}
            {{ paginate.current_offset | plus: paginate.page_size }}
            {% else %}
            {{ paginate.items }}
            {% endif %} {{ 'collections.showby.of' | t }} {{ paginate.items }} {{ 'collections.showby.results' | t }}            
          </span>
        </div>
        <div class="col-lg-6 filter_name float-right">
          <div class="d-flex justify-content-end js_filetr_destop align-items-center">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              {{ 'filter.filter_collection' | t }} 
            </a>
            <i class="ti-angle-down"></i>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-11">
        <div class="collapse" id="collapseExample">
          <div class="card boxx_filter card-body">            
            <div class="filter_prd engoj-collection-sidebar">
                <div class="row ">
                  <div class="col-lg-3 product_category box_filterwwidth">
                    <div class="title_pr_filter">
                      <span>{{section.settings.widget_cate_title}}</span>
                    </div>
                    <div class="check_pr">              
                      {% for link in linklists[section.settings.widget_cate_menu].links %}
                      	<a href="{{ link.url }}" title="{{ link.title }}" >{{ link.title }}</a>
                       {% endfor %}
                    </div>
                  </div> <!-- end category -->
                  <div class="col-lg-3 prcheckbox_color box_filterwwidth filter-tag">
                    <div class="title_pr_filter">
                      <span>{{section.settings.shop_by_color_title}}</span>
                    </div>
                    <ul class="check_color_list list-unstyled list-inline">
                      {% assign tags = section.settings.shop_by_color_list_tags | split: ',' %}
                      {% for t in tags %}
                      {% assign tag = t | strip %}
                      {% assign tag_value = tag | handleize %}
                      <li class="list-inline-item">
                        <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
        				<a href="javascript:void(0)" title="{{tag}}" style="background-color: {{tag}};"></a>
                      </li>
                      {% endfor %}                      
                    </ul>
                  </div> <!-- end checkbox color -->
                  <div class="col-lg-4 check_size_pr box_filterwwidth filter-tag">
                    <div class="title_pr_filter">
                      <span>{{section.settings.shop_by_size_title}}</span>
                    </div>
                    
                    {% if section.settings.collection_size_filter_layout == "circle_size" %}
                    <ul class="list_checkbox_size list-unstyled list-inline mb-0">
                      {% assign tags = section.settings.shop_by_size_list_tags | split: ',' %}
                      {% for t in tags %}
                      {% assign tag = t | strip %}
                      {% assign tag_value = tag | handleize %}
                      <li class="list-inline-item">
                        <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
        				<a href="javascript:void(0)" title="{{tag}}" > {{tag}}</a>
                      </li>
                      {% endfor %}                      
                    </ul>
                    {% elsif section.settings.collection_size_filter_layout == "square_size" %}
                    <ul class="square_size list-unstyled list-inline mb-0">
                      {% assign tags = section.settings.shop_by_size_list_tags | split: ',' %}
                      {% for t in tags %}
                      {% assign tag = t | strip %}
                      {% assign tag_value = tag | handleize %}
                      <li class="list-inline-item">
                        <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
                        <a href="javascript:void(0)" title="{{tag}}" > {{tag}}</a>
                      </li>
                      {% endfor %}                      
                    </ul>
                    {% endif %}
                    
                  </div> <!-- end size -->
                  <div class="col-lg-2 product_price check_size_pr box_filterwwidth filter-tag">
                    <div class="title_pr_filter">
                      <span>{{section.settings.shop_by_price_title}}</span>
                    </div>
                    <ul class="check_pr list-unstyled mb-0">              
                      {% assign tags = section.settings.shop_by_price_list_tags | split: ',' %}

                      {% for t in tags %}
                      {% assign tag = t | strip %}
                      {% assign tag_value = tag | handleize %}
                      <li>
                        <input type="checkbox" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag %}checked{% endif %}/>
                        <a href="javascript:void(0)" title="{{tag}}" >{{tag}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div> <!-- end price -->
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>      
      <div class="row grid-uniform ">
          {% for product in collection.products %}
          <div class="{% if section.settings.products_per == "2" %}col-md-6{% elsif section.settings.products_per == "3" %}col-md-3{% elsif section.settings.products_per == "4" %}col-md-3{% elsif section.settings.products_per == "5" %}col-lg-2dot4{% endif %} col-sm-6 col-xs-{% if settings.mobile_products_per_row == "1" %}12{% elsif settings.mobile_products_per_row == "2" %}6{% endif %}">
            {% include 'product-item' %}
          </div>
          {% else %}
        <div class="col-lg-12 text-center">
          	<h2 class="title-noproduct my-5 text-center">{{ 'products.general.no_product' | t }}</h2>
        </div>
          {% endfor %}
      </div>
      <div class="row">
        <div class="col-lg-12">
          {% if paginate.pages > 1 %}
          <div class="pagi-nav text-center">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '' | replace: 'Next &raquo;', '' }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
      <div class="action_btn">
        <a class="link_btn" href="{{ collection.url }}"> Show All</a>
      </div> 
  </div>
  {% endif %}
  
  
</section>


{% endpaginate %}

{% schema %}
{
  "name": "Collection Page",
  "settings": [
	{
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "enable_slideshow",
      "label": "Enable?",  
      "default": true
    },
	{
      "type": "text",
      "id": "idname_collection",
      "label": "Name collection",
      "default": "Product"
    },
	
	{
      "type": "image_picker",
      "id": "backgroud_slide_image",
      "label": "Background image slide",
      "info": "1920 x 500px recommended"
    },
	{
      "type": "header",
      "content": "Setting Product"
    },
    {
      "type": "select",
      "id": "products_per",
      "label": "Products per row",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
		{
          "value": "5",
          "label": "5"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "collection_layout",
      "label": "Collection Layout",
      "options": [
        {
          "value": "sidebar_left",
          "label": "Sidebar Left"
        },
        {
          "value": "sidebar_right",
          "label": "Sidebar Right"
        },
        {
          "value": "sidebar_none",
          "label": "No Sidebar"
        }
      ],
      "default": "sidebar_left",
	  "info": "Only Collection v1"
    },

	 

	{
      "type": "select",
      "id": "product_template",
      "options": [
    	{
          "value": "product_v1",
          "label": "Collection v1"
        },
    	{
          "value": "product_v2",
          "label": "Collection v2"
        }
      ],
      "label": "Select Template",
      "default": "product_v1"
    },
	
	
	{
      "type": "range",
      "id": "product_limit",
      "label": "Limit product",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 8
    },
	 {
      "type": "select",
      "id": "collection_size_filter_layout",
      "label": "filter size Layout v2",
      "options": [
        {
          "value": "circle_size",
          "label": "circle size"
        },
        {
          "value": "square_size",
          "label": "square size"
        }
      ],
      "default": "square_size"
    },
    {
      "type": "header",
      "content": "Widget Position"
    },
    {
      "type": "paragraph",
      "content": "Choose your widget and their order."
    },
    {
      "type": "select",
      "id": "collection_widget_1",
      "label": "Widget 1",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-banner",
          "label": "Widget Banner"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_2",
      "label": "Widget 2",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-banner",
          "label": "Widget Banner"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_3",
      "label": "Widget 3",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-banner",
          "label": "Widget Banner"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_4",
      "label": "Widget 4",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-banner",
          "label": "Widget Banner"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_5",
      "label": "Widget 5",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-banner",
          "label": "Widget Banner"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_6",
      "label": "Widget 6",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-banner",
          "label": "Widget Banner"
        }
      ]
    },
    {
      "type": "header",
      "content": "Widget Categories"
    },
    {
      "type": "text",
      "id": "widget_cate_title",
      "label": "Title Widget",
      "default": "Categories"
    },
    {
      "type": "link_list",
      "id": "widget_cate_menu",
      "label": "Menu for Categories"
    },
    {
      "type": "header",
      "content": "Widget Filter by Color"
    },
    {
      "type": "text",
      "id": "shop_by_color_title",
      "label": "Title Widget",
      "default": "Filter by Color"
    },
    {
      "type": "textarea",
      "id": "shop_by_color_list_tags",
      "info": "Shop by Color list tags is tags in product",
      "label": "Shop by Color list tags"
    },
    {
      "type": "header",
      "content": "Widget Filter by Price"
    },
    {
      "type": "text",
      "id": "shop_by_price_title",
      "label": "Title Widget",
      "default": "Filter by Price"
    },
    {
      "type": "textarea",
      "id": "shop_by_price_list_tags",
      "info": "Shop by Price list tags is tags in product",
      "label": "Shop by Price list tags"
    },
    {
      "type": "header",
      "content": "Widget Filter by Size"
    },
    {
      "type": "text",
      "id": "shop_by_size_title",
      "label": "Title Widget",
      "default": "Filter by Size"
    },
    {
      "type": "textarea",
      "id": "shop_by_size_list_tags",
      "info": "Shop by Size list tags is tags in product",
      "label": "Shop by Size list tags"
    },
    {
      "type": "header",
      "info": "Brand is vendor in product",
      "content": "Widget Filter by Brand"
    },
    {
      "type": "text",
      "id": "shop_by_brand_title",
      "label": "Widget Title",
      "default": "Brand"
    },
    {
      "type": "header",
      "content": "Widget banner"
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Image",
      "info": "271x271 px recommended"
    },
    {
      "type": "url",
      "id": "banner_url",
      "label": "URL",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Collection Page"
    }
  ]
}
{% endschema %}