<div data-section-id="{{ section.id }}" data-section-type="section-blog-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-blog-v2">
    <div class="container">
       {% if section.settings.enable_infotitle %}
      <div class="row justify-content-center">				
        <div class="col-lg-7 col-sm-10 col-md-8 text-center">
          <div class="title-section-blog-v2">
            {% if section.settings.section_title != blank %}
            <h3>{{section.settings.section_title}}</h3>
            {% endif %}

            {% if section.settings.section_description != blank %}
            <p class="mb-0">{{section.settings.section_description}}</p> 
            {% endif %}
          </div>
        </div>
      </div>
       {% endif %}
      <div class="row">
        {%- assign posts_limit = section.settings.blogs_limit -%}
        {%- assign blog_selected = section.settings.select_blog -%}
        {% for article in blogs[blog_selected].articles limit: posts_limit %}
        <div class="col-lg-4 col-sm-4 col-md-4">
          <div class="content-section-blog-v2">
            <div class="picrure one text-center">
              <a href="{{ article.url }}">
                <img src="{{ article.image.src | img_url: 'original' }}" alt="{{ article.title  }}" class="img-fluid">
              </a>
            </div>
            {% if section.settings.enable_allinfo %}
            <div class="info-img">
              {% if section.settings.enable_category or section.settings.enable_date %}
              <p class="mb-0">{% if section.settings.enable_category %}{{blogs[blog_selected].title}}{% endif %}{% if section.settings.enable_date %}<span> / {{article.published_at | date: "%B %d, %Y" }}</span>{% endif %}</p>
              {% endif %}
              {% if section.settings.enable_title %}
              <h4 class="mb-0"><a href="{{ article.url }}" >{{ article.title  }}</a></h4>
              {% endif %}
              
              {% if section.settings.enable_button %}
              {% if section.settings.button_name != blank %}
              <div class="readmore">
              <a href="{{ article.url }}">{{section.settings.button_name}}</a>
              </div>
              {% endif %}
              {% endif %}
            </div>
            {% endif %}            
          </div>
        </div>
       	{% else %}
        {% for i in (1..3) %}
        <div class="col-lg-4 col-sm-4 col-md-4">
          <div class="content-section-blog-v2">
            <div class="picrure">
              <a href="/admin/articles">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
            </div>
            <div class="info-img">
              <p class="mb-0">Fashion<span> / {{ 'now' | date: "%B %d, %Y" }}</span></p>
              <h4 class="mb-0">
                <a href="/admin/articles">A Novel Idea: This Summer's Best Sun Hats </a>
              </h4>
              <div class="readmore">
              <a href="/admin/articles">Read more</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Blog v2 H4",
  "class": "index-section",
  "settings": [
	{
      "type": "header",
      "content": "Info Title"
    },
	{
      "type": "checkbox",
      "id": "enable_infotitle",
      "label": "Show Info Title",
      "default": true
    },
	{
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Fashion News & Tips"
    },
    {
      "type": "text",
      "id": "section_description",
      "label": "Description ",
      "default": "Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,"
    },
	{
      "type": "header",
      "content": "Info Blogs"
    },
	{
      "type": "blog",
      "id": "select_blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "blogs_limit",
      "label": "Limit blogs",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 3
    },
	{
      "type": "checkbox",
      "id": "enable_allinfo",
      "label": "Show All Info Blog",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_category",
      "label": "Show category",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "enable_date",
      "label": "Show Date",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "enable_title",
      "label": "Show Title",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "enable_button",
      "label": "Show Button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_name",
      "label": "Button name",
      "default": "Read More"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Blog v2 H4",
      "category": "Blog"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
