<div data-section-id="{{ section.id }}" data-section-type="section-intagram-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-intagram-v2">
    
    
    {% assign instafeed_img = '{{image}}' %}
    {% assign instafeed_link = '{{link}}' %}

    {% if section.settings.ins_userid != blank and section.settings.ins_access_token != blank %}
    <script>
      jQuery(document).ready(function($) {
        var feed = new Instafeed({
          get: 'user',
          userId: '{{section.settings.ins_userid}}',
          accessToken: '{{section.settings.ins_access_token}}',
          template: '<div class="box-img one"> <div class="picture"> <a href="{{instafeed_link}}"> <img src="{{instafeed_img}}" class="img-fluid" alt="instagram"> </a> </div> <div class="content-intagram text-center"> <a href="{{instafeed_link}}" class="ti-instagram"></a> <h4 class="mb-0">{{section.settings.section_title_item}}</h4> </div> </div>',
          target: 'engoj_instagramv2',
          resolution: 'standard_resolution',
          limit: '{{section.settings.ins_limit_number}}',
          after: engo_jsinstatgram
        });
        feed.run();
        function engo_jsinstatgram(){
          $('.slick_instagram').slick({
            dots: false,
            infinite: false,
            speed: 300,
            arrows: false,
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: true,
                  dots: false,
                  arrows: false,
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2,
                  arrows: false,
                  dots: false,
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  arrows: false,
                  dots: false,

                }
              }
            ]
          });
        }
      });
    </script>
    {% endif %}
    
    <div class="container-fluid px-0">
      <div class="box-all slick_instagram" id="engoj_instagramv2">
        
        {% if section.settings.ins_userid == blank or section.settings.ins_access_token == blank %}
        {% if shop.permanent_domain == "maxcolt-store-demo.myshopify.com" %}
        {% for i in (1..5) %}
        
          <div class="box-img one">
            <div class="picture text-center">
              <a href="https://www.instagram.com/">
                <img src="{{ 'intagram' | append: i | append: '.jpg' | file_img_url: 'master' }}" alt="instagram" />
              </a>
            </div>
            <div class="content-intagram text-center">
              <a href="https://www.instagram.com/" class="ti-instagram"></a>
              {% if section.settings.section_title_item != blank %}
              <h4 class="mb-0">{{section.settings.section_title_item}}</h4>
              {% endif %}
            </div>
          </div>
        
         {% endfor %}
       
         {% else %}          

          <div class="box-img one">
            <div class="picture text-center">
              <a href="https://www.instagram.com/">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
            </div>
            <div class="content-intagram text-center">
              <a href="https://www.instagram.com/" class="ti-instagram"></a>
              {% if section.settings.section_title_item != blank %}
              <h4 class="mb-0">{{section.settings.section_title_item}}</h4>
              {% endif %}
            </div>
          </div>

        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Intagram v2 H3",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Info Intagram"
    },
	{
      "type": "text",
      "id": "section_title_item",
      "label": "Title item",
      "default": "@Over_Store"
    },
	{
      "type": "header",
      "content": "List Image Intagram"
    },
	{
      "type": "text",
      "id": "ins_userid",
      "label": "User ID Instagram",
      "default": "3672948962"
    },
    {
      "type": "text",
      "id": "ins_access_token",
      "label": "Access Token Instagram",
      "default": "3672948962.0f64772.430edb7f711e4665b59777c54d1ed9ce"
    },
    {
      "type": "text",
      "id": "ins_limit_number",
      "label": "Limit Image",
      "default": "5"
    },
	 {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Intagram v2 H3",
      "category": "Intagram"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
