<div data-section-id="{{ section.id }}" data-section-type="section-banner-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-banner-v4">
    <div class="container-fluid my-container">
      <div class="row justify-content-center">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "collection" %}
          <div class="col-lg-4 col-sm-4 col-md-4 col-section">
            <div class="picture-section text-center">
              <a href="{{ collections[block.settings.block_collection].url }}">
                {% if collections[block.settings.block_collection].image != blank %}
                <img src="{{ collections[block.settings.block_collection].image | img_url: 'master' }}" class="img-fluid">
                {% else %}
                <img src="//placehold.it/558x700" class="img-fluid" alt="collection">
                {% endif %}
              </a>
              {% if section.settings.enable_info_collection %}
              <div class="box-content">
                <h3 class="mb-0"><a href="{{ collections[block.settings.block_collection].url }}">{{ collections[block.settings.block_collection].title }}</a><sup> ({{ collections[block.settings.block_collection].products_count }})</sup></h3>
              </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
      </div>               
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Collection v1 H4",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
	{
      "type": "checkbox",
      "id": "enable_info_collection",
      "label": "Show Info Collection",
      "default": true
    }
  ],
  "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "block_collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "Collection v1 H4",
      "category": "Collection",
	  "blocks": [
        {
          "type": "collection",
          "settings": {
          }
        },
		{
          "type": "collection",
          "settings": {
          }
        },
		{
          "type": "collection",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
