<div class="two-column-products mb-4 mt-4">
    <div class="container">
        <div class="row row-margin">
            <div class="col-md-6 d-flex mb-3 mb-md-0 col-padding">
                <div class="product-wrap blue-background-gradient w-100">
                    <div class="row">
                        <div class="col-6">
                            <div class="product-image p-2">
                                {% if section.settings.product_left_image != blank %}
                                <img src="{{section.settings.product_left_image|img_url:'master'}}" class="img-fluid" alt="">
                                {% else %}
                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </div>                            
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <div class="product-data text-white py-3 py-md-5 pr-3 w-100">
                                <h4 class="mb-4 font-weight-regular">{{section.settings.product_title_left}}</h4>
                                <div class="product_pricing">
                                  <div class="product-price font-size-18 font-weight-light mb-2">
                                      {{section.settings.product_left_price}}
                                  </div>
                                  {% if section.settings.product_left_compare_price != '' %} 
                                  <div class="product-price font-weight-light mb-3">
                                      <s>{{section.settings.product_left_compare_price}}</s>
                                  </div>
                                  {% endif %} 
                                </div>
                                <div class="product-add-cart">
                                    <a href="{{ section.settings.product_left_link }}" class="btn btn-basic btn-white pl-10 rounded-0 text-left">{{section.settings.buttom_shop_now}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex mb-3 mb-md-0 col-padding">
                <div class="product-wrap orange-background-gradient w-100">
                    <div class="row">
                        <div class="col-6">
                            <div class="product-image p-2">
                                {% if section.settings.product_right_image != blank %}
                                <img src="{{section.settings.product_right_image|img_url:'master'}}" class="img-fluid" alt="">
                                {% else %}
                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                              </div>                            
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <div class="product-data text-white py-3 py-md-5 pr-3 w-100">
                                <h4 class="mb-4 font-weight-regular">{{section.settings.product_right_title}}</h4>
                                <div class="product_pricing">
                                  <div class="product-price font-size-18 font-weight-light mb-2">
                                      {{section.settings.product_right_price}}
                                  </div> 
                                  {% if section.settings.product_right_compare_price != '' %} 
                                  <div class="product-price font-weight-light mb-3">
                                      <s>{{section.settings.product_right_compare_price}}</s>
                                  </div>
                                  {% endif %} 
                                </div>                                
                                <div class="product-add-cart">
                                    <a href="{{section.settings.product_right_url}}" class="btn btn-basic btn-white pl-10 rounded-0 text-left">{{section.settings.right_buttom_shop_now}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
   
{% schema %}
  {
    "name": "Banner v1 H1",
    "class": "index-section",
    "settings": [
    {
      "type": "header",
      "content": "Product left"
    },
    {
      "type": "image_picker",
      "id": "product_left_image",
      "label": "Product image",
      "info": "Product image"
    },    
    {
      "type": "text",
      "id": "product_title_left",
      "label": "Product title",
      "default": "Product title"
    },
    {
      "type": "text",
      "id": "product_left_price",
      "label": "Product price",
      "default": "Product price"
    },
    {
      "type": "text",
      "id": "product_left_compare_price",
      "label": "Product compare price",
      "default": "Product compare price"
    },
    {
      "type": "text",
      "id": "buttom_shop_now",
      "label": "Button text",
      "default": "Buy now"
    },
    {
      "type": "url",
      "id": "product_left_link",
      "label": "Product link",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Product right"
    },
    {
      "type": "image_picker",
      "id": "product_right_image",
      "label": "Product image",
      "info": "400 x 400px recommended"
    },
    {
      "type": "text",
      "id": "product_right_title",
      "label": "Product title",
      "default": "Product title"
    },
    {
      "type": "text",
      "id": "product_right_price",
      "label": "Product price",
      "default": "Product price"
    },
    {
      "type": "text",
      "id": "product_right_compare_price",
      "label": "Product compare price",
      "default": "Product compare price"
    },
    {
      "type": "text",
      "id": "right_buttom_shop_now",
      "label": "Button text",
      "default": "Buy now"
    },
    {
      "type": "url",
      "id": "product_right_url",
      "label": "Product link",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Banner V1 H1",
      "category": "Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
  