<!-- /templates/cart.liquid -->
{% comment %}

For info on test orders:
- General http://docs.shopify.com/manual/your-store/orders/test-orders
- Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<section>
  <div class="content-pages cart_edit">
    <div class="container">
      <div class="content-about content-cart-page woocommerce 111">
        <h2 class="title-36 dosis-font font-bold text-blue my-40 text-center">{{ 'cart.general.title' | t }}</h2>
        {% if cart.item_count > 0 %}
        <form action="/cart" method="post" novalidate class="cart table-wrap table-cart-form">
          <div class="table-responsive">
            <table class="shop_table cart table table--responsive table_cart">
              {% if cart.item_count > 0 %}
              <form action="/cart" method="post" novalidate>
                <tbody>
                  {% for item in cart.items %}
                  <tr class="cart_item align-items-center cart__row table__section cart_item">                    
                    <td data-label="Product" class="product-thumbnail">
                      <a href="{{ item.url }}"><img  src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}"/></a>					
                    </td>
                    <td class="product-name" data-title="Product">
                      <a class="text-blue" href="{{ item.url }}">{{ item.product.title }}</a>	
                      {% unless item.variant.title contains 'Default' %}
                      <small style="display: block; color: #959595;">({{ item.variant.title }})</small>
                      {% endunless %}
                      {% if settings.cart_vendor_enable %}
                      <p>{{ item.vendor }}</p>
                      {% endif %}
                    </td>
                    <!-- <td data-label="Price" class="product-price" data-title="Price">
                      <span class="amount">{{ item.price | money }}</span>					
                    </td> -->
                    <td data-label="Quantity" class="product-quantity text-right" data-title="Quantity">
                      <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                    </td>
                    <td data-label="Total" class="product-subtotal text-left text-blue pr-4 pl-md-4" data-title="Total">
                      <span class="amount font-weight-normal text-blue">{{ item.line_price | money }}</span>
                      <s><span class="price_nosale text-nowrap pl-0 pr-0">{{ item.variant.compare_at_price | money }}</span></s>				
                    </td>
                    <td class="product-remove">
                      <a class="remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><i class="ti-close text-blue"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
               
              </form>
              {% endif %}
            </table>
          </div>

          <div class="row my-40">
            <div class="col-lg-8">
              <div class="shipping mt-0">
                  <label class="text-blue mb-3">{{ 'cart.general.note' | t }}</label>
                  <textarea name="note" class="input-full border-blue" id="CartSpecialInstructions" rows="8" placeholder="Write your message here...">{{ cart.note }}</textarea>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bottom_carrt text-blue">
                  <h5 class="m-0"><span class="total-title text-capitalize">{{ 'cart.label.total' | t }} :</span>{{ cart.total_price | money }}</h5>
                  <div class="update_chechout d-flex">
                    <input type="submit" value="{{ 'cart.general.update' | t }}" name="update_cart" class="button edit w-55 text-left btn-bg-white rounded-0">
                    <a class="checkout-button button alt wc-forward w-45 btn-bg-blue" href="/checkout">{{ 'cart.general.checkout' | t }}</a>
                  </div>
              </div>  
            </div>
          </div>
         
          <!-- <div class="col-lg-12 shipping text-center">
            <label>{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions" rows="8" >{{ cart.note }}</textarea>
          </div>
          <div class="row">
            <div class=" col-lg-12 text-center bottom_carrt">
              <h5>{{ 'cart.label.total' | t }}</h5>
              <h5 class="price_bt">{{ cart.total_price | money }}</h5>
              <div class="update_chechout d-flex justify-content-center">
                <input type="submit" value="{{ 'cart.general.update' | t }}" name="update_cart" class="button bg-color edit">
                <a class="checkout-button button alt wc-forward bg-color" href="/checkout">{{ 'cart.general.checkout' | t }}</a>
              </div>
            </div>
          </div> -->
      
        </form>
        {% else %}
        {% comment %}
        The cart is empty
        {% endcomment %}
        <p class="text-center">{{ 'cart.general.empty_cart' | t }} {{ 'cart.general.continue_browsing_html' | t }}</p>
        {% endif %}
      </div>	
    </div>
  </div>
  <!-- End Content Pages -->
</section>

